.friendRequestContainer {
	position: absolute;
	left: auto;
	right: 10%;
	top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0px 0px 3px 0px rgb(22, 165, 58);
	margin-bottom: 20px;

	&__close {
		border: none;
		font-size: 12px;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}

	&__title {
		font-weight: bold;
		margin-right: 10px;
		font-size: 16px;
		margin-bottom: 20px;
	}

	&__username {
		font-size: 16px;
		text-align: center;
		margin-top: -10px;
	}

	&__avatar {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin: 20px calc(50% - 30px);
	}

	&__buttons {
		display: flex;
		align-items: center;

		&--accept, &--reject {
			background-color: rgb(22, 165, 58);
			color: white;
			padding: 8px 16px;
			border: none;
			border-radius: 5px;
			margin-right: 5px;
			margin-bottom: 15px;
			cursor: pointer;
			font-size: 16px;

			&:hover {
				background-color: rgba(22, 165, 58, 0.785);
			}
		}
	}
}
