.friendRequestContainer {
	position: absolute;
	left: auto;
	right: 1%;
	top: 9%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	border-radius: 6px;
	background-color: white;
	color: black;
	box-shadow: 0px 0px 3px 0px rgb(22, 165, 58);
	margin-bottom: 20px;
	width: 500px;
	padding: 20px;
	z-index: 1000;

	&__title {
		font-weight: bold;
		margin: 18px 65px 20px 65px;
		font-size: 18px;
	}

	&__item {
		display: flex;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 10px;

		&__avatar {
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}
	
		&__username {
			font-size: 16px;
			margin: auto;
		}
	
		&__buttons {
			display: flex;
			align-items: center;
			margin-left: 15px;
	
			&--accept, &--reject {
				background-color: rgb(22, 165, 58);
				color: white;
				padding: 8px 16px;
				border: none;
				border-radius: 5px;
				margin-left: 15px;
				cursor: pointer;
				font-size: 16px;
	
				&:hover {
					background-color: rgba(22, 165, 58, 0.785);
				}
			}
		}
	}

	&__close {
    border: none;
    position: absolute;
    top: -15px;
    right: 5px;
    cursor: pointer;
    font-size: 50px;
    background-color: inherit;
    color: white;
    transform: rotate(45deg);
    height: 0px;
    width: 0px;

		&:hover div {
			background-color: red;
		}
	}


}
@media (max-width: 500px) {
	.friendRequestContainer {
		width: 95%;
		

		&__title {
			margin: 30px 0 0 0;
			text-align: center;
			font-size: 24px;
		}

		&__item {
			display: block;
			align-items: center;


			&__avatar{
				margin: 15px 70px;
				width: 150px;
				height: 150px;
			}

			&__username {
				text-align: center;
				font-size: 24px;
			}

			&__buttons {
				margin: 15px 28px;

				&--reject, &--accept{
					font-size: 18px;
				}
			}	

		}



		


	}


}