nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	text-decoration: none;
	font-size: 14px;
	background-color: #0d2231;

	.navbar-login, .navbar-logo {
		text-decoration: none;
		padding: 3px;
		color: #e3edf5;
	}

	.navbar-logo {
		display: none;
	}

	form {
		display: flex;
		justify-content: center;
		align-items: center;
		.inputsContainer {
			input {
				width: 80px;
				height: 30px;
				padding: 3px;
				margin: 3px;
				border-radius: 5px;
				border: none;
				text-align: center;
			}
		}
	}
}

@media (min-width: 500px) {
	nav {
		form {
			.inputsContainer {
				input {
					margin: 5px;
				}
			}
		}
		.navbar-login {
			margin: 5px;
		}
	}
}

@media (min-width: 768px) {
	nav {
		justify-content: space-around;
		padding: 15px;
		font-size: 18px;

		.navbar-login {
			padding: 5px;
		}

		.navbar-logo {
			display: block;
		}

		form {
			.inputsContainer {
				input {
					width: 100px;
					height: 35px;
					padding: 5px;
					margin: 5px;
				}
			}
		}
	}
}
