.formLogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 12px;


	&__inputs {
		align-items: center;

		&--input {
			margin: 5px;

			.email,
			.password {
				width: 80px;
				height: 35px;
				border-radius: 5px;
				text-align: center;
				font-size: 18px;
				width: 200px;
				height: 40px;			
			}

			p {
				font-size: 12px;
			}
		}
	}

	&__btn {
		cursor: pointer;
		background: none;
		border: none;
		color: #fefefe;
		text-decoration: none;
		font-size: 18px;
		height: 35px;
		font-weight: bold;
		justify-content: center;
		text-align: center;
		align-items: center;
		margin: 15px;
	}



}

@media (min-width: 768px) {
	.formLogin {
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		font-size: 18px;
		margin-right: 100px;
		align-items: center;

		&__inputs {
			display: flex;
			margin: 5px;

			&--input {
				.email,
				.password {
					width: 200px;
					height: 35px;
				}

				p {
					margin-top: 10px;
					font-size: 12px;
				}
			}
		}

		&__btn{
			font-size: 13px;

		}


	}
}
