.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	text-decoration: none;
	font-size: 14px;
	background-color: #0d2231;

	&-logo {
		margin: 0 15px;
		align-items: center;
		text-decoration: none;
		padding: 3px;
		color: #e3edf5;
	}
}

@media (max-width: 500px) {
		.navbar {
			flex-direction: column;
			&-logo {
				margin: 20px;
			}
	}
}
