.formLogin {
	display: flex;
	justify-content: center;
    align-items: flex-start;
	width: 100%;
    font-size: 16px;

	&__inputs {
        display: flex;
        margin-right: 5px;

        &--input {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;

            .email, .password {
                width: 90px;
                height: 45px;
                border-radius: 5px;
                text-align: center;
            }

            p {
                margin-top: 5px;
                font-size: 12px;
            }
        }
	}

    &__btn {
        margin-top: 5px;
        background: none;
        border: 1px solid rgb(139, 134, 134);
        padding: 8px 14px;
        border-radius: 10px;
        color: #fefefe;
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .formLogin {
	justify-content: flex-end;
    font-size: 18px;
    margin-right: 100px;

	&__inputs {
        display: flex;
        margin: 5px;

        &--input {

            .email, .password {
                width: 200px;
            }

            p {
                margin-top: 10px;
                font-size: 12px;
            }
        }
	}

    &__btn {
        margin-top: 11px;
        margin-left: 6px;
    }
}
}